In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cities_data.csv')

In [3]:
df

,Unnamed: 0,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,elevation
0,0,Malishevë,Malisheve,42.4822,20.7458,Kosovo,XK,XKS,Malishevë,admin,NaN,1901597212,529
1,1,Prizren,Prizren,42.2139,20.7397,Kosovo,XK,XKS,Prizren,admin,NaN,1901360309,414
2,2,Zubin Potok,Zubin Potok,42.9144,20.6897,Kosovo,XK,XKS,Zubin Potok,admin,NaN,1901608808,580
3,3,Kamenicë,Kamenice,42.5781,21.5803,Kosovo,XK,XKS,Kamenicë,admin,NaN,1901851592,476
4,4,Viti,Viti,42.3214,21.3583,Kosovo,XK,XKS,Viti,admin,NaN,1901328795,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12954,12954,Sturgis,Sturgis,44.4111,-103.4975,United States,US,USA,South Dakota,NaN,6862.0,1840002174,1054
12955,12955,Tea,Tea,43.4515,-96.8346,United States,US,USA,South Dakota,NaN,5415.0,1840002841,453
12956,12956,Brandon,Brandon,43.5928,-96.5799,United States,US,USA,South Dakota,NaN,9263.0,1840002650,412
12957,12957,Madison,Madison,44.0062,-97.1084,United States,US,USA,South Dakota,NaN,6983.0,1840002540,506
12958,12958,Belle Fourche,Belle Fourche,44.6640,-103.8564,United States,US,USA,South Dakota,NaN,5202.0,1840002127,940

In [42]:
data = df

In [23]:
df.head()

,Unnamed: 0,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,elevation
0,0,Malishevë,Malisheve,42.4822,20.7458,Kosovo,XK,XKS,Malishevë,admin,NaN,1901597212,529
1,1,Prizren,Prizren,42.2139,20.7397,Kosovo,XK,XKS,Prizren,admin,NaN,1901360309,414
2,2,Zubin Potok,Zubin Potok,42.9144,20.6897,Kosovo,XK,XKS,Zubin Potok,admin,NaN,1901608808,580
3,3,Kamenicë,Kamenice,42.5781,21.5803,Kosovo,XK,XKS,Kamenicë,admin,NaN,1901851592,476
4,4,Viti,Viti,42.3214,21.3583,Kosovo,XK,XKS,Viti,admin,NaN,1901328795,500

In [29]:
df[df['population'] > 10000]

,Unnamed: 0,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,elevation
39,39,Sanaa,Sanaa,15.3547,44.2066,Yemen,YE,YEM,Amānat al ‘Āşimah,primary,2008000.0,1887750814,2252
40,40,Marib,Marib,15.4210,45.3340,Yemen,YE,YEM,Ma’rib,admin,16794.0,1887153216,1094
42,42,Hajjah,Hajjah,15.6917,43.6021,Yemen,YE,YEM,Ḩajjah,admin,208287.0,1887522445,1756
43,43,Ibb,Ibb,13.9759,44.1709,Yemen,YE,YEM,Ibb,admin,234837.0,1887321491,1984
44,44,Al Hudaydah,Al Hudaydah,14.7979,42.9530,Yemen,YE,YEM,Al Ḩudaydah,admin,780000.0,1887984890,10
45,45,Lahij,Lahij,13.0582,44.8838,Yemen,YE,YEM,Laḩij,admin,66288.0,1887871834,133
47,47,Taizz,Taizz,13.6045,44.0394,Yemen,YE,YEM,Ta‘izz,admin,751000.0,1887324526,1278
48,48,Sadah,Sadah,16.9398,43.8498,Yemen,YE,YEM,Şa‘dah,admin,105542.0,1887513055,1943
49,49,Dhamar,Dhamar,14.5575,44.3875,Yemen,YE,YEM,Dhamār,admin,191259.0,1887135215,2428
52,52,Saywun,Saywun,15.9430,48.7873,Yemen,YE,YEM,Ḩaḑramawt,minor,68747.0,1887142998,661
53,53,Al Bayda,Al Bayda,13.9790,45.5740,Yemen,YE,YEM,Al Bayḑā’,admin,37821.0,1887788283,2002
55,55,Rida,Rida,14.4295,44.8341,Yemen,YE,YEM,Al Bayḑā’,minor,45233.0,1887090855,2121
56,56,'Ataq,'Ataq,14.5500,46.8000,Yemen,YE,YEM,Shabwah,admin,37315.0,1887172893,1126
57,57,Al Ghaydah,Al Ghaydah,16.2394,52.1638,Yemen,YE,YEM,Al Mahrah,admin,27404.0,1887000479,21
59,59,Al Mukalla,Al Mukalla,14.5412,49.1259,Yemen,YE,YEM,Ḩaḑramawt,admin,258132.0,1887202594,15
61,61,Zabīd,Zabid,14.1951,43.3155,Yemen,YE,YEM,Al Ḩudaydah,minor,152504.0,1887877995,111
62,62,Aden,Aden,12.7797,45.0095,Yemen,YE,YEM,‘Adan,admin,1000000.0,1887867886,298
63,63,Hadiboh,Hadiboh,12.6519,54.0239,Yemen,YE,YEM,Arkhabīl Suquţrá,admin,11396.0,1887452377,6
64,64,Ash Shihr,Ash Shihr,14.7593,49.6092,Yemen,YE,YEM,Ḩaḑramawt,minor,54274.0,1887657562,12
65,65,Dzaoudzi,Dzaoudzi,-12.7871,45.2750,Mayotte,YT,MYT,NaN,admin,32057.0,1175099654,21
66,66,Lebowakgomo,Lebowakgomo,-24.1996,29.5000,South Africa,ZA,ZAF,Limpopo,NaN,33308.0,1710999076,1160
67,67,Potchefstroom,Potchefstroom,-26.6996,27.1000,South Africa,ZA,ZAF,North West,NaN,123669.0,1710838885,1339
68,68,Graaff Reinet,Graaff Reinet,-32.3000,24.5400,South Africa,ZA,ZAF,Eastern Cape,NaN,62896.0,1710616617,715
69,69,Rustenburg,Rustenburg,-25.6500,27.2400,South Africa,ZA,ZAF,North West,NaN,165976.0,1710326039,1146
70,70,Brandfort,Brandfort,-28.6996,26.4700,South Africa,ZA,ZAF,Free State,NaN,12091.0,1710953731,1401
71,71,Vryheid,Vryheid,-27.7600,30.7900,South Africa,ZA,ZAF,KwaZulu-Natal,NaN,150012.0,1710716158,1194
72,72,Vereeniging,Vereeniging,-26.6496,27.9600,South Africa,ZA,ZAF,Gauteng,NaN,1074000.0,1710271883,1437
73,73,Brits,Brits,-25.6296,27.7800,South Africa,ZA,ZAF,North West,NaN,122497.0,1710468143,1112
74,74,Bethlehem,Bethlehem,-28.2196,28.3000,South Africa,ZA,ZAF,Free State,NaN,83654.0,1710750307,1638
76,76,Polokwane,Polokwane,-23.8900,29.4500,South Africa,ZA,ZAF,Limpopo,admin,220045.0,1710908010,1264
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12919,12919,Portland,Portland,45.5372,-122.6500,United States,US,USA,Oregon,NaN,2052796.0,1840019941,47
12920,12920,Roseburg,Roseburg,43.2229,-123.3519,United States,US,USA,Oregon,NaN,43948.0,1840020034,143
12922,12922,Albany,Albany,44.6274,-123.0966,United States,US,USA,Oregon,NaN,60795.0,1840018605,68
12923,12923,The Dalles,The Dalles,45.6047,-121.1815,United States,US,USA,Oregon,NaN,20293.0,1840021212,23
12924,12924,Astoria,Astoria,46.1856,-123.8053,United States,US,USA,Oregon,NaN,14688.0,1840018504,134
12925,12925,Hermiston,Hermiston,45.8323,-119.2858,United States,US,USA,Oregon,NaN,28925.0,1840019915,146
12926,12926,Eugene,Eugene,44.0563,-123.1173,United States,US,USA,Oregon,NaN,267568.0,1840020007,126
12927,12927,Milwaukie,Milwaukie,45.4445,-122.6219,United States,US,USA,Oregon,NaN,20801.0,1840019952,46
12928,12928,Keizer,Keizer,45.0028,-123.0241,United States,US,USA,Oregon,NaN,39315.0,1840018581,38
12929,12929,West Linn,West Linn,45.3669,-122.6399,United States,US,USA,Oregon,NaN,26703.0,1840021218,203
12930,12930,Dallas,Dallas,44.9220,-123.3137,United States,US,USA,Oregon,NaN,17146.0,1840018590,94
12931,12931,Hood River,Hood River,45.7093,-121.5258,United States,US,USA,Oregon,NaN,15714.0,1840019942,83
12932,12932,Corvallis,Corvallis,44.5697,-123.2780,United States,US,USA,Oregon,NaN,66441.0,1840018611,76
12934,12934,Stayton,Stayton,44.8030,-122.7981,United States,US,USA,Oregon,NaN,10943.0,1840021227,136
12935,12935,Florence,Florence,43.9912,-124.1061,United States,US,USA,Oregon,NaN,10755.0,1840020008,24
12936,12936,Hillsboro,Hillsboro,45.5271,-122.9358,United States,US,USA,Oregon,NaN,106894.0,1840019932,48
12937,12937,Springfield,Springfield,44.0538,-122.9811,United States,US,USA,Oregon,NaN,62353.0,1840021263,144
12938,12938,Woodburn,Woodburn,45.1476,-122.8585,United States,US,USA,Oregon,NaN,35267.0,1840021230,55
12939,12939,Lincoln City,Lincoln City,44.9751,-124.0073,United States,US,USA,Oregon,NaN,11820.0,1840019974,24
12943,12943,Sioux Falls,Sioux Falls,43.5397,-96.7322,United States,US,USA,South Dakota,NaN,180204.0,1840002648,445
12944,12944,Watertown,Watertown,44.9096,-97.1536,United States,US,USA,South Dakota,NaN,21837.0,1840002156,528
12945,12945,Yankton,Yankton,42.8900,-97.3924,United States,US,USA,South Dakota,NaN,14699.0,1840003058,379
12946,12946,Vermillion,Vermillion,42.7811,-96.9256,United States,US,USA,South Dakota,NaN,10691.0,1840003082,379
12947,12947,Huron,Huron,44.3622,-98.2102,United States,US,USA,South Dakota,NaN,13164.0,1840002373,387
12948,12948,Rapid City,Rapid City,44.0716,-103.2205,United States,US,USA,South Dakota,NaN,88979.0,1840002180,1014
12949,12949,Spearfish,Spearfish,44.4912,-103.8166,United States,US,USA,South Dakota,NaN,12675.0,1840002374,1190
12950,12950,Aberdeen,Aberdeen,45.4646,-98.4680,United States,US,USA,South Dakota,NaN,28264.0,1840002032,394
12951,12951,Brookings,Brookings,44.3022,-96.7859,United States,US,USA,South Dakota,NaN,24400.0,1840002506,504
12952,12952,Mitchell,Mitchell,43.7294,-98.0336,United States,US,USA,South Dakota,NaN,15297.0,1840002642,394
12953,12953,Pierre,Pierre,44.3748,-100.3205,United States,US,USA,South Dakota,admin,14803.0,1840000313,518

In [51]:
data

,id1,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,elevation
1075,1075,Mexico City,Mexico City,19.4424,-99.1310,Mexico,MX,MEX,Ciudad de México,primary,19028000.0,1484247881,2238
1685,1685,Manila,Manila,14.6042,120.9822,Philippines,PH,PHL,NaN,primary,11100000.0,1608618140,13
1790,1790,Karachi,Karachi,24.8700,66.9900,Pakistan,PK,PAK,Sindh,admin,12130000.0,1586129469,11
2220,2220,Moscow,Moscow,55.7522,37.6155,Russia,RU,RUS,Moskva,primary,10452000.0,1643318494,144
3412,3412,Istanbul,Istanbul,41.1050,29.0100,Turkey,TR,TUR,İstanbul,admin,10061000.0,1792756324,94
4240,4240,Buenos Aires,Buenos Aires,-34.6025,-58.3975,Argentina,AR,ARG,"Buenos Aires, Ciudad Autónoma de",primary,12795000.0,1032717330,37
4552,4552,Dhaka,Dhaka,23.7231,90.4086,Bangladesh,BD,BGD,Dhaka,primary,12797394.0,1050529279,17
5057,5057,Rio de Janeiro,Rio de Janeiro,-22.9250,-43.2250,Brazil,BR,BRA,Rio de Janeiro,admin,11748000.0,1076887657,25
5105,5105,São Paulo,Sao Paulo,-23.5587,-46.6250,Brazil,BR,BRA,São Paulo,admin,18845000.0,1076532519,730
5758,5758,Shanghai,Shanghai,31.2165,121.4365,China,CN,CHN,Shanghai,admin,14987000.0,1156073548,17
5970,5970,Beijing,Beijing,39.9289,116.3883,China,CN,CHN,Beijing,primary,11106000.0,1156228865,51
6560,6560,Cairo,Cairo,30.0500,31.2500,Egypt,EG,EGY,Al Qāhirah,primary,11893000.0,1818253931,28
7491,7491,Mumbai,Mumbai,19.0170,72.8570,India,IN,IND,Mahārāshtra,admin,18978000.0,1356226629,11
7518,7518,Kolkata,Kolkata,22.4950,88.3247,India,IN,IND,West Bengal,admin,14787000.0,1356060520,12
7562,7562,Delhi,Delhi,28.6700,77.2300,India,IN,IND,Delhi,admin,15926000.0,1356872604,212
7862,7862,Tokyo,Tokyo,35.6850,139.7514,Japan,JP,JPN,Tōkyō,primary,35676000.0,1392685764,27
7899,7899,Ōsaka,Osaka,34.7500,135.4601,Japan,JP,JPN,Ōsaka,admin,11294000.0,1392419823,4
9792,9792,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,19354922.0,1840034016,17
10465,10465,Los Angeles,Los Angeles,34.1139,-118.4068,United States,US,USA,California,NaN,12815475.0,1840020491,338

In [9]:
import requests

In [14]:
elevations = []
for city in range(0, len(data), 250):
    
    points=[]
    
    for i in range(city, city+250 if city+250 < len(data) else len(data)):
        lat = data.iloc[i]['lat']
        lng = data.iloc[i]['lng']

        points.append((lat, lng))
        
    URL = "https://elevation-api.io/api/elevation?key=5S4gd0k0a3rccH-e0cakJdfinSuOt7"
    #PARAMS = {'latitude':lat, 'longitude': lng, 'application_max_assets_mtime': 1559625591}
    #print(points)
    r = requests.post(url = URL, json = {"points": points}) 

    if city % 1000 == 0:
        print(city)
        print(city / len(data) * 100, '%', sep='')

    # print(r)
    resp = r.json() 
    #print(resp)
    elevationsR = resp['elevations']
    for elevation in elevationsR:
        #print(elevation)
        elevations.append(elevation['elevation'])
        
    #if not resp['success']:
    #print('SURPRISE!')
data['elevation'] = elevations

0
0.0%
1000
2.092050209205021%
2000
4.184100418410042%
3000
6.2761506276150625%
4000
8.368200836820083%
5000
10.460251046025103%
6000
12.552301255230125%
7000
14.644351464435147%
8000
16.736401673640167%
9000
18.828451882845187%
10000
20.920502092050206%
11000
23.01255230125523%
12000
25.10460251046025%
13000
27.19665271966527%
14000
29.288702928870293%
15000
31.380753138075313%
16000
33.47280334728033%
17000
35.56485355648535%
18000
37.65690376569037%
19000
39.74895397489539%
20000
41.84100418410041%
21000
43.93305439330544%
22000
46.02510460251046%
23000
48.11715481171548%
24000
50.2092050209205%
25000
52.30125523012552%
26000
54.39330543933054%
27000
56.48535564853556%
28000
58.57740585774059%
29000
60.66945606694561%
30000
62.76150627615063%
31000
64.85355648535564%
32000
66.94560669456067%
33000
69.0376569037657%
34000
71.1297071129707%
35000
73.22175732217573%
36000
75.31380753138075%
37000
77.40585774058577%
38000
79.49790794979079%
39000
81.58995815899581%
40000
83.68200836820083%
41000
85.77405857740585%
42000
87.86610878661088%
43000
89.9581589958159%
44000
92.05020920502092%
45000
94.14225941422593%
46000
96.23430962343096%
47000
98.32635983263597%

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
len(elevations)

47800

In [21]:
data.to_csv('cities3.csv', index=False)

In [67]:
# data['iso3_len'] = data['iso3'].apply(len)

In [7]:
data['iso3_len'].value_counts()

3    12959
Name: iso3_len, dtype: int64

In [30]:
import psycopg2
import math

In [31]:
 conn = psycopg2.connect(dbname='postgres',user='postgres',host='localhost',password='mysecretpassword')

In [32]:
cur = conn.cursor()

In [33]:
len(data)

12959

In [38]:
data

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
          ...
12954    6862.0
12955    5415.0
12956    9263.0
12957    6983.0
12958    5202.0
Name: population, Length: 12959, dtype: float64

In [48]:
for c in range(0, len(data)):
    city, country, lat, lng, elevation, population, iso = data.iloc[c][['city', 'country', 'lat', 'lng', 'elevation', 'population', 'iso']]
    
    if c % 100 == 0:
        print(c)
        print(c / len(data) * 100, '%', sep='')

    if math.isnan(population):
        population = 0
    cur = conn.cursor()
    #print(city, country, float(lat), float(lng), int(elevation), int(population), iso3)
    r = cur.execute("rollback; INSERT INTO public.cities (name, country, pos, population, elevation, iso3) VALUES (%s, %s, 'SRID=4326;POINT(%s %s)', %s, %s, %s)", (city, country, float(lng), float(lat), int(population), int(elevation), iso))
    cur.close()

0
0.0%
100
0.7716644802839725%
200
1.543328960567945%
300
2.314993440851918%
400
3.08665792113589%
500
3.858322401419863%
600
4.629986881703836%
700
5.401651361987807%
800
6.17331584227178%
900
6.944980322555752%
1000
7.716644802839726%
1100
8.488309283123698%
1200
9.259973763407672%
1300
10.031638243691642%
1400
10.803302723975614%
1500
11.574967204259588%
1600
12.34663168454356%
1700
13.118296164827534%
1800
13.889960645111504%
1900
14.661625125395478%
2000
15.433289605679452%
2100
16.204954085963426%
2200
16.976618566247396%
2300
17.74828304653137%
2400
18.519947526815344%
2500
19.291612007099314%
2600
20.063276487383284%
2700
20.834940967667258%
2800
21.606605447951228%
2900
22.378269928235202%
3000
23.149934408519176%
3100
23.921598888803146%
3200
24.69326336908712%
3300
25.464927849371094%
3400
26.236592329655068%
3500
27.00825680993904%
3600
27.779921290223008%
3700
28.551585770506982%
3800
29.323250250790956%
3900
30.09491473107493%
4000
30.866579211358903%
4100
31.638243691642877%
4200
32.40990817192685%
4300
33.18157265221082%
4400
33.95323713249479%
4500
34.724901612778766%
4600
35.49656609306274%
4700
36.26823057334671%
4800
37.03989505363069%
4900
37.811559533914654%
5000
38.58322401419863%
5100
39.3548884944826%
5200
40.12655297476657%
5300
40.89821745505054%
5400
41.669881935334516%
5500
42.44154641561849%
5600
43.213210895902456%
5700
43.98487537618643%
5800
44.756539856470404%
5900
45.52820433675438%
6000
46.29986881703835%
6100
47.071533297322325%
6200
47.84319777760629%
6300
48.614862257890266%
6400
49.38652673817424%
6500
50.158191218458214%
6600
50.92985569874219%
6700
51.70152017902616%
6800
52.473184659310135%
6900
53.24484913959411%
7000
54.01651361987808%
7100
54.78817810016206%
7200
55.559842580446016%
7300
56.33150706072999%
7400
57.103171541013964%
7500
57.87483602129794%
7600
58.64650050158191%
7700
59.418164981865885%
7800
60.18982946214986%
7900
60.96149394243383%
8000
61.73315842271781%
8100
62.50482290300178%
8200
63.276487383285755%
8300
64.04815186356973%
8400
64.8198163438537%
8500
65.59148082413766%
8600
66.36314530442164%
8700
67.13480978470561%
8800
67.90647426498958%
8900
68.67813874527356%
9000
69.44980322555753%
9100
70.2214677058415%
9200
70.99313218612548%
9300
71.76479666640945%
9400
72.53646114669343%
9500
73.3081256269774%
9600
74.07979010726137%
9700
74.85145458754533%
9800
75.62311906782931%
9900
76.39478354811328%
10000
77.16644802839726%
10100
77.93811250868123%
10200
78.7097769889652%
10300
79.48144146924918%
10400
80.25310594953314%
10500
81.02477042981711%
10600
81.79643491010108%
10700
82.56809939038506%
10800
83.33976387066903%
10900
84.111428350953%
11000
84.88309283123698%
11100
85.65475731152094%
11200
86.42642179180491%
11300
87.19808627208889%
11400
87.96975075237286%
11500
88.74141523265683%
11600
89.51307971294081%
11700
90.28474419322478%
11800
91.05640867350876%
11900
91.82807315379273%
12000
92.5997376340767%
12100
93.37140211436068%
12200
94.14306659464465%
12300
94.91473107492861%
12400
95.68639555521258%
12500
96.45806003549656%
12600
97.22972451578053%
12700
98.0013889960645%
12800
98.77305347634848%
12900
99.54471795663245%

In [55]:
cur = conn.cursor()
cur.execute("SELECT id, name, country, elevation, population, iso3, ST_X(C.pos::geometry) as lng, ST_Y(C.pos::geometry) as lat FROM public.cities C")
df = cur.fetchall()
cur.close()

In [54]:
swlat = 18.22935133838668
swlng =  -52.55859375000001
nelat = 70.8446726342528
nelng = 52.29492187500001

cur = conn.cursor()
cur.execute("SELECT *, (CASE WHEN elevation < %s THEN 0 ELSE 1 END) as destroyed FROM cities C WHERE ST_Contains(ST_GEOMFROMTEXT('SRID=4326;POLYGON((%s %s, %s %s, %s %s, %s %s, %s %s))'), C.pos::geometry)", (100, swlng, swlat, swlng, nelat, nelng, nelat, nelng, swlat, swlng, swlat));
df = cur.fetchall()
cur.close()

In [47]:
cur = conn.cursor()
cur.execute("CREATE TABLE public.cities (    id serial PRIMARY KEY NOT NULL,    name VARCHAR(255),    country VARCHAR(255),    pos geography(POINT),    population int,    elevation int,    iso3 CHAR(3));CREATE UNIQUE INDEX cities_id_uindex ON public.cities (id);CREATE INDEX global_points_gix ON cities USING GIST ( pos );")
cur.close()

In [46]:
cur = conn.cursor()
cur.execute("drop TABLE public.cities")
cur.close()